<!--    # После блока content начинается пагинация на каждой странице сробатывает надо учитывать-->
<!-- # идет проверка о наличии страниц -->
{% if page_obj.has_other_pages %}
<nav class="paginator">
  <!-- #отоброжаем стрелку -->
  {% if page_obj.has_previous %}
  <a href="?page=1" class="paginator__end">&laquo;</a>
  <a href="?page={{ page_obj.previous_page_number }}" class="paginator__left"></a>


  <!-- <a href="?page=1" class="paginator__left"></a>
  <a href="?page={{ page_obj.previous_page_number }}" class="paginator__end">&laquo;</a> -->
  {% endif %} 
  <!--  -->
  {% for p in paginator.page_range %}<!-- цикл  for  переберает страницы -->
  {% if page_obj.number == p %}
  <div class="paginator__textActive">{{ p }}</div>
  <!-- Дальше по документации
            https://docs.djangoproject.com/en/3.1/topics/pagination/ -->
  {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
  <div class="paginator__text">
    <a href="?page={{ p }}" class="paginator__text ">{{ p }}</a>
  </div>
  {% endif %} 
  <!--  -->
  {% endfor %} 
  <!--  -->
  {% if page_obj.has_next %}
  <a href="?page={{ page_obj.next_page_number }}" class="paginator__right"></a>
  <a href="?page={{ page_obj.paginator.num_pages }}" class="paginator__end">&raquo;</a>
  {% endif %}
</nav>
{% endif %}
