.contacts__titleBlock {
    padding-top: 67px;
    padding-bottom: 80px;

    display: flex;
    flex-direction: row;
    justify-content: center;

    color: rgb(43, 43, 43);
    font-family: Nunito;
    font-size: 48px;
    font-weight: 700;

    text-align: center;
}

.contacts__box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    gap: 40px;
}

.contacts__item {
    box-sizing: border-box;
    border: 0.5px solid rgb(200, 198, 198);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);

    display: flex;
    flex: 0 0 20%;
    flex-direction: column;
    gap: 20px;
}

.contacts__mapBox {
    max-width: 100%;
    height: 250px;
    padding: 10px 10px 0 10px;
    border: none;
}

.contacts__description {
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contacts__textTitle {
    color: rgb(43, 43, 43);
    font-family: Nunito;
    font-size: 18px;
    font-weight: 600;
}

.contacts__text {
    color: rgb(43, 43, 43);
    font-family: Nunito;
    font-size: 17px;
    font-weight: 400;
}

.contacts__request {
    padding-top: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.contacts__requestText {
    color: rgb(43, 43, 43);
    font-family: Nunito;
    font-size: 20px;
    font-weight: 500;

    max-width: 700px;
}

.contacts__requestForm {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.contacts__requestArea {
    width: 500px;
    height: 100px;
    border: 1px solid rgba(10, 110, 146, 0.37);
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, .075)
}

.contacts__requestBtn {
    box-sizing: border-box;
    background: rgba(109, 176, 195, 1.00);
    border-radius: 0 5px 5px 5px;
    border: none;

    color: rgba(255, 255, 250, 1.00);
    font-family: Nunito;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 4px 10px;
    max-width: 150px;
}

.contacts__requestBtn:hover {
    background: rgba(254, 186, 166, 1.00);
    color: white;
}


/*  адаптация */
@media (min-width: 1320px) and (max-width: 1430px) {

    .contacts__item {
        flex: 0 0 33%;
    }

    .contacts__mapBox {
        max-width: 100%;
        height: 250px;
        padding: 10px 10px 0 10px;
        border: none
    }

    .contacts__request {
        gap: 30px;
    }

    .contacts__requestText {
        max-width: 500px;
        text-align: justify;
    }

}

@media (min-width: 989px) and (max-width: 1320px) {

    .contacts__item {
        flex: 0 0 33%;
    }

    .contacts__mapBox {
        max-width: 100%;
        height: 250px;
        padding: 10px 10px 0 10px;
        border: none
    }

    .contacts__request {
        gap: 30px;
    }

    .contacts__requestText {
        max-width: 500px;
        text-align: justify;
    }
}

@media (min-width: 766px) and (max-width: 989px) {

    .contacts__item {
        flex: 0 0 40%;
    }

    .contacts__mapBox {
        max-width: 100%;
    }

    .contacts__request {
        gap: 30px;
    }

    .contacts__requestText {
        max-width: 500px;
        text-align: justify;
    }
}

@media (min-width: 600px) and (max-width: 766px) {

    .contacts__item {
        flex: 0 0 55%;
    }

    .contacts__mapBox {
        max-width: 100%;
    }

    .contacts__request {
        gap: 30px;
    }

    .contacts__requestText {
        max-width: 500px;
        text-align: justify;
    }

}

@media (min-width: 400px) and (max-width: 599px) {
    .contacts__titleBlock {
        font-size: 36px;
    }

    .contacts__item {
        flex: 0 0 80%;
    }

    .contacts__mapBox {
        max-width: 100%;
    }

    .contacts__request {
        gap: 20px;
    }

    .contacts__requestText {
        max-width: 300px;
        text-align: justify;
    }

    .contacts__requestArea {
        width: 300px;
    }
}

@media (min-width: 320px) and (max-width: 399px) {
    .contacts__titleBlock {
        font-size: 30px;
    }

    .contacts__item {
        flex: 0 0 80%;
    }

    .contacts__mapBox {
        max-width: 100%;
    }

    .contacts__request {
        gap: 10px;
    }

    .contacts__requestText {
        max-width: 240px;
        text-align: justify;
    }

    .contacts__requestArea {
        width: 240px;
    }

    .contacts__requestBtn {
        font-size: 16px;
        padding: 4px 5px;
    }
}