.footer {
    background: rgb(24, 121, 156);
    /* margin-top: 120px; */
}

.footer__container {
    padding-top: 40px;
    padding-bottom: 66px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer__left {
    display: flex;
    flex-direction: column;
    gap: 35px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.footer__logo {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.footer__img {
    width: 89px;
}

.footer__title {
    max-width: 300px;
    color: rgb(255, 255, 255);
    font-family: Nunito;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.footer__help {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    border-radius: 20px;
    background-color: rgba(255, 255, 250, 1.00);
}

.footer__buttonHelp {
    box-sizing: border-box;
    border-radius: 20px;

    background: rgba(109, 176, 195, 1.00);
    color: rgba(255, 255, 250, 1.00);
    font-family: Nunito;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 8px 10px;
    width: 180px;

    transition: 0.3s;
}

.footer__buttonNeeds {
    box-sizing: border-box;
    border-radius: 20px;

    background: rgba(255, 255, 250, 1.00);
    color: rgba(23, 123, 159, 1.00);
    font-family: Nunito;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 8px 0px;
    width: 180px;

    transition: 0.4s;
}

.footer__buttonHelp:hover {
    background: rgba(254, 186, 166, 1.00);
    color: white;
}

.footer__button:hover {
    background: rgba(254, 186, 166, 1.00);
    color: white;
}

.footer__buttonHelpNotActiv {
    background: rgba(255, 255, 250, 1.00);
    color: rgba(23, 123, 159, 1.00);
}

.footer__buttonNeedsActiv {
    background: rgba(254, 186, 166, 1.00);
    color: white;
}

.footer__nav {
    display: flex;
    flex-direction: row;
    gap: 63px;
    flex-wrap: wrap;
}

.footer__navColumn {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer__text {
    color: rgb(255, 255, 255);
    font-family: Nunito;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}

.footer__social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.footer__socialTg {
    width: 30px;
}

.footer__socialVk {
    width: 30px;
}

.footer__bottom {
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer__bottomText {
    color: rgb(255, 255, 255);
    font-family: Nunito;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
}

.footer__bottomConnect {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.footer__icon {
    height: 20px;
}

/* адаптация */

@media (min-width: 1110px) and (max-width: 1450px) {
    .center {
        padding-right: 0;
        padding-left: 0;
    }

    .footer {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1109px) {
    .footer {
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer__container {
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }

    .footer__left {
        gap: 25px;
    }

    .footer__buttonHelp {
        font-size: 18px;
        width: 170px;
    }

    .footer__buttonNeeds {
        font-size: 18px;
        width: 170px;
    }
}

@media (min-width: 530px) and (max-width: 767px) {
    .footer {
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer__container {
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }

    .footer__left {
        align-items: center;
        gap: 35px;
    }

    .footer__img {
        width: 70px;
    }

    .footer__title {
        font-size: 16px;
        max-width: 290px;
    }

    .footer__buttonHelp {
        font-size: 16px;
        width: auto;
        padding: 5px 30px;
    }

    .footer__buttonNeeds {
        font-size: 16px;
        width: auto;
        padding: 5px 10px;
    }

    .footer__nav {
        flex-direction: row;
        gap: 25px;
    }

    .footer__navColumn {
        flex-direction: column;
        gap: 25px;
        justify-content: center;
    }

    .footer__text {
        font-size: 15px;
    }

    .footer__social {
        margin-bottom: 30px;
    }

    .footer__bottom {
        align-items: start;
    }
}


@media (min-width: 320px) and (max-width: 529px) {
    .footer {
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer__container {
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }

    .footer__left {
        align-items: center;
        gap: 25px;
    }

    .footer__logo {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .footer__img {
        width: 70px;
    }

    .footer__title {
        font-size: 16px;
        max-width: 290px;
    }

    .footer__buttonHelp {
        font-size: 14px;
        width: auto;
        padding: 5px 30px;
    }

    .footer__buttonNeeds {
        font-size: 14px;
        width: auto;
        padding: 5px 10px;
    }

    .footer__nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .footer__navColumn {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .footer__text {
        font-size: 15px;
    }

    .footer__social {
        margin-bottom: 30px;
    }

    .footer__bottom {
        flex-direction: column;
        gap: 10px;
    }
}