@import url("header.css");
@import url("footer.css");

@import url("contacts.css");
@import url("about.css");
@import url("targets.css");
@import url("history.css");
@import url("donation.css");
@import url("news.css");
@import url("news_post.css");
@import url("volunteerPage.css");
@import url("back.css");
@import url("paginatop.css");
@import url("legal.css");
@import url("personal_data.css");
@import url("offero.css");
@import url("get_help.css");
@import url("partners.css");
@import url("index.css");
@import url("report.css");

/* проекты с перечислением категорий */
@import url("projects_category.css");
/* страница с проектами конкретной категории проектов */
@import url("projects.css");
/* конкретная задаяча в проекте */
@import url("projects_post.css");

/* подопечные */
@import url("allyouneedis.css");







* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    padding: 0;
    margin: 0;
}

.center {
    padding-right: calc(50% - 700px);
    padding-left: calc(50% - 700px);
}

.container-md {
    background: rgba(255, 255, 250, 1.00);
    /* background: red; */

    padding-top: 133px;  /* отступ будет 67px */
    padding-bottom: 100px;
    /* padding-left: 20px;
    padding-right: 20px; */
}




/* адаптация */
/* высота шапки 109px  отступ будет 61px*/
@media (min-width: 1035px) and (max-width: 1320px) {
    .container-md {
        padding-top: 109px;
    }
}

/* высота шапки 100px отступ будет 40px */
@media (min-width: 835px) and (max-width: 1035px) {
    .container-md {
        padding-top: 100px;
    }
}

/* млбилка - высота шапки 93px - отступ будет 37px*/
@media (min-width: 768px) and (max-width: 835px) {
    .container-md {
        padding-top: 93px;
    }
}

/* млбилка - высота шапки 173px - отступ будет 27px*/
@media (min-width: 320px) and (max-width: 767px) {
    .container-md {
        padding-top: 173px;
    }
}




