/* шапка страницы */
.newsPost__titleBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0 10px 0;
    margin-bottom: 100px;
    background-color: rgba(23, 123, 159, 1.00);
    height: 150px;
}

.newsPost__titleMain {
    color: rgba(255, 255, 250, 1.00);
    font-family: Nunito;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.newsPost__titleMain:hover {
    color: rgba(254, 186, 166, 1.00);
}

.newsPost__title_img {
    width: 150px;
    /* padding-bottom: 35px; */
}

/* контент */
.newsPost {
    margin-left: 20px;
    margin-right: 20px;
    /* position: relative; */
}

.newsPost__top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* gap: 30px; */
    justify-content: space-around;
    margin-bottom: 50px;
}

.newsPost__top_imgBox {
    width: 450px;
    height: 350px;
    overflow: hidden;

    display: flex;
    align-items: center;
}

.newsPost__top_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.newsPost__title {
    box-sizing: border-box;
    color: rgb(43, 43, 43);
    font-family: Nunito;
    font-size: 48px;
    font-weight: 700;
    /* width: calc(100% - 450px); */
    display: block;
    width: 50%;
    text-align: center;
}

.newsPost__text {
    width: 94%;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    gap: 30px;

    color: rgb(43, 43, 43);
    font-family: Nunito;
    font-size: 24px;
    font-weight: 400;
    text-align: justify;
    margin-bottom: 50px;
}

.newsPost__link {
    width: 94%;
    margin-left: 3%;
}

.newsPost__data {
    color: rgb(43, 43, 43);
    font-family: Nunito;
    font-size: 20px;
    font-weight: 400;
    text-align: right;
    margin-bottom: 80px;
}

.newsPost__slider {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.newsPost__slider_NotActive {
    display: none !important;
}

.newsPost__slider_imgBox {
    width: 100%;
}

.newsPost__slider_imgline {
    position: relative;
    overflow: hidden;
    height: 600px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.newsPost__slider_img {
    position: absolute;
    width: auto;
    height: 100%;
}

.newsPost__slider_imgHidden {
    visibility: hidden;
}

.newsPost__slider_nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.newsPost__slider_navLeft {
    border: 15px solid transparent;
    border-right: 15px solid rgba(109, 176, 195, 1.00);
}

.newsPost__slider_navRight {
    border: 15px solid transparent;
    border-left: 15px solid rgba(109, 176, 195, 1.00);
}

.newsPost__slider_navLeft:hover {
    border: 15px solid transparent;
    border-right: 15px solid rgba(254, 186, 166, 1.00);
}

.newsPost__slider_navRight:hover {
    border: 15px solid transparent;
    border-left: 15px solid rgba(254, 186, 166, 1.00);
}

.newsPost__slider_navNumber {
    box-sizing: border-box;
    color: rgba(109, 176, 195, 1.00);
    font-family: Nunito;
    font-size: 26px;
    font-weight: 700;
}



/* адаптация */

@media (min-width: 900px) and (max-width: 1200px) {
    .newsPost__title {
        font-size: 36px;
        width: 45%;
    }
}

@media (min-width: 767px) and (max-width: 899px) {
    .newsPost__top_imgBox {
        width: 350px;
        height: 300px;
    }

    .newsPost__title {
        font-size: 30px;
        width: 45%;
    }

    .newsPost__text {
        font-size: 20px;
    }

    .newsPost__link {
        font-size: 20px;
    }

    .post__link_icon {
        width: 30px;
    }

    .newsPost__data {
        font-size: 16px;
    }
}

@media (min-width: 320px) and (max-width: 766px) {

    .newsPost__titleBox {
        height: 100px;
    }

    .newsPost__titleMain {
        font-size: 26px;
    }

    .newsPost__title_img {
        width: 100px;
        padding-bottom: 10px;

    }

    .newsPost__top {
        flex-direction: column;
        align-items: center;
    }

    .newsPost__top_imgBox {
        width: 80%;
        height: 60vw;
        align-items: center;
    }

    .newsPost__title {
        font-size: 26px;
        width: 80%;
    }

    .newsPost__text {
        font-size: 16px;
    }

    .newsPost__link {
        font-size: 16px;
        gap: 10px;
    }

    .post__link_icon {
        width: 20px;
    }

    .newsPost__data {
        font-size: 14px;
    }

    .newsPost__slider_imgline {
        height: 300px;
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .newsPost__slider_nav {
        align-items: center;
    }

    .newsPost__slider_navLeft {
        border: 10px solid transparent;
        border-right: 10px solid rgba(109, 176, 195, 1.00);
    }

    .newsPost__slider_navRight {
        border: 10px solid transparent;
        border-left: 10px solid rgba(109, 176, 195, 1.00);
    }

    .newsPost__slider_navLeft:hover {
        border: 10px solid transparent;
        border-right: 10px solid rgba(254, 186, 166, 1.00);
    }

    .newsPost__slider_navRight:hover {
        border: 10px solid transparent;
        border-left: 10px solid rgba(254, 186, 166, 1.00);
    }

    .newsPost__slider_navNumber {
        font-size: 22px;
    }

}