.projectCategory__title {
    color: rgb(43, 43, 43);
    font-family: Nunito;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}

.projectCategory {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-content: center;
    grid-column-gap: 8%;
    grid-row-gap: 50px;

    /* align-content: center; */
    /* position: absolute; */


}

.projectCategory__item {
    box-sizing: border-box;
    border: 0.5px solid rgb(200, 198, 198);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
    background: rgba(255, 255, 250, 1.00);

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.projectCategory__item_imgBox {
    box-sizing: border-box;
    width: 100%;
}

.projectCategory__item_img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.projectCategory__item_textBox {
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.projectCategory__item_title {
    color: rgb(43, 43, 43);
    font-family: Nunito;
    font-size: 20px;
    font-weight: 700;
    /* text-align: center; */
}

.projectCategory__item_btn {
    /* border: 1px solid rgba(200, 198, 198, 1.00);
    border-radius: 50%; */

    color: rgb(43, 43, 43);
    font-family: Nunito;
    font-size: 25px;
    font-weight: 700;
}

.projectCategory__item_btn:hover {
    border: none;
    color: rgba(254, 186, 166, 1.00);
    transform: scale(1.5);
    cursor: pointer;
}

.projectCategory__item_arrow {
    width: 30px;
    padding: 10px;
}


/* адаптация */
@media (min-width: 700px) and (max-width: 1120px) {
    .projectCategory {
        display: grid;
        grid-template-columns: repeat(2, 300px);
        justify-content: center;
        grid-column-gap: 8%;
        grid-row-gap: 50px;
    }
}


@media (min-width: 400px) and (max-width: 699px) {
    .projectCategory {
        display: grid;
        grid-template-columns: repeat(1, 300px);
        justify-content: center;
        grid-column-gap: 8%;
        grid-row-gap: 50px;
    }

    .projectCategory__title {
        font-size: 38px;
    }

}

@media (min-width: 320px) and (max-width: 400px) {
    .projectCategory {
        display: grid;
        grid-template-columns: repeat(1, 250px);
        justify-content: center;
        grid-column-gap: 8%;
        grid-row-gap: 50px;
    }

    .projectCategory__title {
        font-size: 38px;
    }
}