/* шапка страницы */
.projectCategory__titleBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0 10px 0;
    margin-bottom: 100px;
    background-color: rgba(23, 123, 159, 1.00);
    height: 250px;
}

.projectCategory__title {
    color: rgba(255, 255, 250, 1.00);
    font-family: Nunito;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.projectCategory__title_img {
    width: 250px;
}

/* основнйо контейнер */
.projectCategory {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-content: center;
    grid-column-gap: 8%;
    grid-row-gap: 50px;
}

/* item категории проекта */
.projectCategory__item {
    box-sizing: border-box;
    border: 0.5px solid rgb(200, 198, 198);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
    background: rgba(255, 255, 250, 1.00);

    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* фото категории проекта  */
.projectCategory__item_imgBox {
    box-sizing: border-box;
    width: 100%;
}

.projectCategory__item_img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

/* название категории проекта */
.projectCategory__item_textBox {
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.projectCategory__item_title {
    color: rgba(23, 123, 159, 1.00);
    font-family: Nunito;
    font-size: 20px;
    font-weight: 700;
}

/* стрелка для перехода в категорию */
.projectCategory__item_btn {
    color: rgba(23, 123, 159, 1.00);
    font-family: Nunito;
    font-size: 25px;
    font-weight: 700;
}

.projectCategory__item_btn:hover {
    border: none;
    color: rgba(254, 186, 166, 1.00);
    transform: scale(1.5);
    cursor: pointer;
}


/* адаптация */
@media (min-width: 768px) and (max-width: 1120px) {
    .projectCategory__titleBox {
        height: 200px;
    }

    .projectCategory__title {
        font-size: 38px;
    }

    .projectCategory__title_img {
        width: 200px;
    }

    .projectCategory {
        display: grid;
        grid-template-columns: repeat(2, 300px);
        justify-content: center;
        grid-column-gap: 8%;
        grid-row-gap: 50px;
    }
}

@media (min-width: 700px) and (max-width: 767px) {
    .projectCategory__titleBox {
        height: 100px;
    }

    .projectCategory__title {
        font-size: 36px;
    }

    .projectCategory__title_img {
        width: 100px;
        padding-bottom: 5px;
    }

    .projectCategory {
        display: grid;
        grid-template-columns: repeat(2, 300px);
        justify-content: center;
        grid-column-gap: 8%;
        grid-row-gap: 50px;
    }
}


@media (min-width: 400px) and (max-width: 699px) {
    .projectCategory__titleBox {
        height: 100px;
    }

    .projectCategory__title {
        font-size: 30px;
    }

    .projectCategory__title_img {
        width: 100px;
        padding-bottom: 5px;
    }

    .projectCategory {
        display: grid;
        grid-template-columns: repeat(1, 300px);
        justify-content: center;
        grid-column-gap: 8%;
        grid-row-gap: 50px;
    }
}

@media (min-width: 320px) and (max-width: 399px) {

    .projectCategory__titleBox {
        height: 80px;
    }

    .projectCategory__title {
        font-size: 26px;
    }

    .projectCategory__title_img {
        width: 80px;
        padding-bottom: 5px;
    }

    .projectCategory {
        display: grid;
        grid-template-columns: repeat(1, 250px);
        justify-content: center;
        grid-column-gap: 8%;
        grid-row-gap: 50px;
    }
}