/* шапка страницы */
.projectsPost__titleBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0 10px 0;
    margin-bottom: 30px;
    background-color: rgba(23, 123, 159, 1.00);
    height: 150px;
}

.projectsPost__titleMain {
    color: rgba(255, 255, 250, 1.00);
    font-family: Nunito;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.projectsPost__titleMain:hover {
    color: rgba(254, 186, 166, 1.00);
    cursor: pointer;
}


.projectsPost__title_img {
    width: 130px;
    padding-bottom: 15px;
}

.projectsPost_title {
    color: rgb(43, 43, 43);
    font-family: Nunito;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}

.projectsPost_article {
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    gap: 30px;

    color: rgb(43, 43, 43);
    font-family: Nunito;
    font-size: 24px;
    font-weight: 400;
    text-align: justify;
    margin-bottom: 50px;
}

.projectsPost_paymentInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;

    margin-bottom: 100px;
}

.projectsPost_paymentInfo_column {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
}

.projectsPost_paymentInfo_textBox {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.projectsPost_paymentInfo_text {
    color: rgb(43, 43, 43);
    font-family: Nunito;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}

.projectsPost_paymentInfo_sumNeed {
    color: rgba(254, 186, 166, 1.00);
    font-family: Nunito;
    font-size: 26px;
    font-weight: 700;
    text-align: left;
}

.projectsPost_paymentInfo_sumDone {
    color: rgba(23, 123, 159, 1.00);
    font-family: Nunito;
    font-size: 26x;
    font-weight: 700;
    text-align: left;
}

.projectsPost_paymentInfo_btnBox {
    width: 100%;
    display: flex;
    justify-content: center;
}

.projectsPost_paymentInfo_btn {

    box-sizing: border-box;
    border-radius: 30px;
    background: rgba(109, 176, 195, 1.00);
    border: none;

    color: rgba(255, 255, 250, 1.00);
    font-family: Nunito;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 5px 10px;
    width: 150px;

    transition: 0.3s;
}

.projectsPost_paymentInfo_btn:hover {
    background: rgba(254, 186, 166, 1.00);
    color: white;
}

.projectsPost_paymentInfo_target {
    color: rgb(43, 43, 43);
    font-family: Nunito;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}

.projectsPost__slider {
    margin-bottom: 100px;
}

.projectsPost_slider_text {
    text-align: center;
}


.projectsPost__slider {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.projectsPost__slider_NotActive {
    display: none !important;
}

.projectsPost__slider_imgBox {
    width: 100%;
}

.projectsPost__slider_imgline {
    position: relative;
    overflow: hidden;
    height: 500px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.projectsPost__slider_img {
    position: absolute;
    width: auto;
    height: 100%;
}

.projectsPost__slider_imgHidden {
    visibility: hidden;
}

.projectsPost__slider_nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-end;
}

.projectsPost__slider_navLeft {
    border: 20px solid transparent;
    border-right: 20px solid rgba(109, 176, 195, 1.00);
}

.projectsPost__slider_navRight {
    border: 20px solid transparent;
    border-left: 20px solid rgba(109, 176, 195, 1.00);
}

.projectsPost__slider_navLeft:hover {
    border: 20px solid transparent;
    border-right: 20px solid rgba(254, 186, 166, 1.00);
}

.projectsPost__slider_navRight:hover {
    border: 20px solid transparent;
    border-left: 20px solid rgba(254, 186, 166, 1.00);
}

.projectsPost__slider_navNumber {
    box-sizing: border-box;
    color: rgb(43, 43, 43);
    font-family: Nunito;
    font-size: 36px;
    font-weight: 700;
}



/* адаптация */
@media (min-width: 910px) and (max-width: 1000px) {
    .projectsPost_title {
        font-size: 38px;
    }

    .projectsPost_article {
        width: 90%;
        margin-left: 5%;
    }
}

@media (min-width: 767px) and (max-width: 910px) {
    .projectsPost__titleBox {
        margin-bottom: 30px;
        background-color: rgba(23, 123, 159, 1.00);
        height: 100px;
    }

    .projectsPost__titleMain {
        font-size: 32px;
    }

    .projectsPost__title_img {
        width: 80px;
        padding-bottom: 5px;
    }

    .projectsPost_title {
        font-size: 38px;
    }

    .projectsPost_article {
        width: 90%;
        margin-left: 5%;
    }

    .projectsPost_paymentInfo_text {
        font-size: 20px;
    }

    .projectsPost_paymentInfo_sumNeed {
        font-size: 20px;
    }

    .projectsPost_paymentInfo_sumDone {
        font-size: 20px;
    }

    .projectsPost_paymentInfo_target {
        font-size: 16px;
    }
}

@media (min-width: 490px) and (max-width: 797px) {

    .projectsPost__titleBox {
        margin-bottom: 30px;
        background-color: rgba(23, 123, 159, 1.00);
        height: 100px;
    }

    .projectsPost__titleMain {
        font-size: 32px;
    }

    .projectsPost__title_img {
        width: 80px;
        padding-bottom: 5px;
    }

    .projectsPost_title {
        font-size: 38px;
    }

    .projectsPost_article {
        width: 96%;
        margin-left: 2%;
    }

    .projectsPost_paymentInfo {
        flex-direction: column;
        margin-left: 4%;

    }

    .projectsPost_paymentInfo_text {
        font-size: 20px;
    }

    .projectsPost_paymentInfo_sumNeed {
        font-size: 20px;
    }

    .projectsPost_paymentInfo_sumDone {
        font-size: 20px;
    }

    .projectsPost_paymentInfo_btnBox {
        justify-content: left;
    }


    .projectsPost_paymentInfo_target {
        font-size: 16px;
    }

    .projectsPost__slider_imgline {
        height: 400px;
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .projectsPost__slider_nav {
        align-items: center;
    }

    .projectsPost__slider_navLeft {
        border: 15px solid transparent;
        border-right: 15px solid rgba(109, 176, 195, 1.00);
    }

    .projectsPost__slider_navRight {
        border: 15px solid transparent;
        border-left: 15px solid rgba(109, 176, 195, 1.00);
    }

    .projectsPost__slider_navLeft:hover {
        border: 15px solid transparent;
        border-right: 15px solid rgba(254, 186, 166, 1.00);
    }

    .projectsPost__slider_navRight:hover {
        border: 15px solid transparent;
        border-left: 15px solid rgba(254, 186, 166, 1.00);
    }

    .projectsPost__slider_navNumber {
        font-size: 30px;
    }
}

@media (min-width: 430px) and (max-width: 489px) {
    .projectsPost__titleBox {
        margin-bottom: 30px;
        background-color: rgba(23, 123, 159, 1.00);
        height: 100px;
    }

    .projectsPost__titleMain {
        font-size: 32px;
    }

    .projectsPost__title_img {
        width: 80px;
        padding-bottom: 5px;
    }

    .projectsPost_title {
        font-size: 28px;
    }

    .projectsPost_article {
        width: 96%;
        margin-left: 2%;
        font-size: 20px;

    }

    .projectsPost_paymentInfo {
        flex-direction: column;
        margin-left: 2%;

    }

    .projectsPost_paymentInfo_text {
        font-size: 20px;
    }

    .projectsPost_paymentInfo_sumNeed {
        font-size: 20px;
    }

    .projectsPost_paymentInfo_sumDone {
        font-size: 20px;
    }

    .projectsPost_paymentInfo_btnBox {
        justify-content: left;
    }


    .projectsPost_paymentInfo_target {
        font-size: 16px;
    }

    .projectsPost__slider_imgline {
        height: 300px;
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .projectsPost__slider_nav {
        align-items: center;
    }

    .projectsPost__slider_navLeft {
        border: 15px solid transparent;
        border-right: 15px solid rgba(109, 176, 195, 1.00);
    }

    .projectsPost__slider_navRight {
        border: 15px solid transparent;
        border-left: 15px solid rgba(109, 176, 195, 1.00);
    }

    .projectsPost__slider_navLeft:hover {
        border: 15px solid transparent;
        border-right: 15px solid rgba(254, 186, 166, 1.00);
    }

    .projectsPost__slider_navRight:hover {
        border: 15px solid transparent;
        border-left: 15px solid rgba(254, 186, 166, 1.00);
    }

    .projectsPost__slider_navNumber {
        font-size: 30px;
    }
}

@media (min-width: 320px) and (max-width: 429px) {

    .projectsPost__titleBox {
        margin-bottom: 30px;
        background-color: rgba(23, 123, 159, 1.00);
        height: 80px;
    }

    .projectsPost__titleMain {
        font-size: 26px;
    }

    .projectsPost__title_img {
        width: 60px;
        padding-bottom: 5px;
    }

    .projectsPost_title {
        font-size: 26px;
    }

    .projectsPost_article {
        width: 96%;
        margin-left: 2%;
        font-size: 20px;

    }

    .projectsPost_paymentInfo {
        flex-direction: column;
        margin-left: 2%;

    }

    .projectsPost_paymentInfo_textBox {
        display: flex;
        flex-direction: column;
    }

    .projectsPost_paymentInfo_text {
        font-size: 18px;
    }

    .projectsPost_paymentInfo_sumNeed {
        font-size: 18px;
    }

    .projectsPost_paymentInfo_sumDone {
        font-size: 18px;
    }

    .projectsPost_paymentInfo_btnBox {
        justify-content: left;
    }


    .projectsPost_paymentInfo_target {
        font-size: 14px;
    }

    .projectsPost__slider_imgline {
        height: 300px;
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .projectsPost__slider_nav {
        align-items: center;
    }

    .projectsPost__slider_navLeft {
        border: 15px solid transparent;
        border-right: 15px solid rgba(109, 176, 195, 1.00);
    }

    .projectsPost__slider_navRight {
        border: 15px solid transparent;
        border-left: 15px solid rgba(109, 176, 195, 1.00);
    }

    .projectsPost__slider_navLeft:hover {
        border: 15px solid transparent;
        border-right: 15px solid rgba(254, 186, 166, 1.00);
    }

    .projectsPost__slider_navRight:hover {
        border: 15px solid transparent;
        border-left: 15px solid rgba(254, 186, 166, 1.00);
    }

    .projectsPost__slider_navNumber {
        font-size: 24px;
    }
}