{% extends 'mainapp/base.html' %}

{% load static %}

{% block content %}

<div class="my-5" xmlns="http://www.w3.org/1999/html">
        <hr>
    </div>

 <div class="row justify-content-center align-items-center">
        <div class="col-md-5">
            <img src="{% static 'img/zelentsova.jpg' %}" alt="" class="w-100 h-100 rounded" style="opacity: 0.7;">
        </div>
        <div class="col-md-7">
            <h1>ПРЕЗИДЕНТ ФОНДА</h1>
            <p><strong>Зеленцова Екатерина Валерьевна</strong></p>
        </div>
    </div>

<div class="my-5" xmlns="http://www.w3.org/1999/html">
        <hr>
    </div>

    <div class="row justify-content-center align-items-center">
        <div class="col-md-7">
            <h1>ЧЛЕНЫ ПРАВЛЕНИЯ</h1>
                <p><strong>Зеленцова Наталья Сергеевна</strong></p>
                <p><strong>Никитина Илия Сергеевна</strong></p>
                <p><strong>Резцова Елена Олеговна</strong></p>
                <p><strong>Наумова Татьяна Рудольфовна</strong></p>
        </div>
        <div class="col-md-5">
            <img src="{% static 'img/okno_v_mir.jpg' %}" alt="" class="w-100 h-100 rounded" style="opacity: 0.7;">
        </div>
    </div>

    <div class="my-5">
        <hr>
    </div>

    <div class="row justify-content-center align-items-center">
        <div class="col-md-5">
            <img src="{% static 'img/tseli.jpg' %}" alt="" class="w-100 h-100 rounded" style="opacity: 0.7;">
        </div>
        <div class="col-md-7">
            <h1>ПЕРЕДСЕДАТЕЛЬ ФОНДА ПРАВЛЕНИЯ</h1>
            <p><strong>Башарова Аида Радимова</strong></p>
        </div>
    </div>

    <div class="my-5">
        <hr>
    </div>

    <div class="row justify-content-center align-items-center">
        <div class="col-md-7">
            <h1>РУКОВОДИТЕЛИ ОТДЕЛЕНИЙ</h1>
            Королев<p><strong>Шаройко Ольга Павловна</strong></p>
            Красноармейск<p><strong>Березикова Ирина Владимировна</strong></p>
            Подольск<p><strong>Лебедева Ольга Владимировна</strong></p>
            Апрелевка, Нарофоминский р-н<p><strong>Пензина Юлия Сергеевна</strong></p>
        </div>
        <div class="col-md-5">
            <img src="{% static 'img/blago.jpg' %}" alt="" class="w-100 h-100 rounded" style="opacity: 0.7;">
        </div>
    </div>

<div class="my-5">
        <hr>
    </div>

    <div class="row justify-content-center align-items-center">
        <div class="col-md-5">
            <img src="{% static 'img/tseli.jpg' %}" alt="" class="w-100 h-100 rounded" style="opacity: 0.7;">
        </div>
        <div class="col-md-7">
            <h1>РЕВИЗОРЫ</h1>
            <p><strong>Шмелева Дарья Романова</strong></p>
            <p><strong>Ноговицина Татьяна Андреевна</strong></p>
            <p><strong>Астахова Ирина Валерьевна</strong></p>
        </div>
    </div>
{% endblock content %}

