{% extends 'mainapp/base.html' %}

{% load static %}

{% block content %}

    <div class="my-5">
        <hr>
    </div>

    <div class="row justify-content-center align-items-center">
        <div class="col-md-7">
            <h1>О НАС</h1>
            <p>Международный благотворительный фонд помощи детям–инвалидам с ограниченными возможностями здоровья «Окно
                в мир» был основан в 2015 году
                с целью оказания помощи семьям с детьми-инвалидами, многодетным семьям, малоимущим семьям г.о. Королев.
                В г.о. Королев проживают более 1500 детей-инвалидов.
                Со временем появились отделения Фонда в Подольске и Красноармейске.
                Также оказывается регулярная помощь регионам: Новгородской и Костромской области, детским домам в
                регионах, а также вещевая помощь различным учреждениям для взрослых.
                Большое внимание в деятельности Фонда уделяется совместным проектам (культурным или спортивным), в
                которых участвуют школьники и дети-инвалиды,
                это помогает воспитать в подрастающем поколении адекватное восприятие инвалидов как членов современного
                общества, пробудить в них сочувствие и желание помочь тому, кому тяжело одному.
                В последнее время делается акцент на образовательных проектах.
            </p>
        </div>
        <div class="col-md-5">
            <img src="{% static 'img/okno_v_mir.jpg' %}" alt="" class="w-100 h-100 rounded" style="opacity: 0.7;">
        </div>
    </div>

    <div class="my-5">
        <hr>
    </div>

    <div class="row justify-content-center align-items-center">
        <div class="col-md-5">
            <img src="{% static 'img/tseli.jpg' %}" alt="" class="w-100 h-100 rounded" style="opacity: 0.7;">
        </div>
        <div class="col-md-7">
            <h1>НАШИ ЦЕЛИ</h1>
            <body>
            <p>
                Основной целью фонда является поддержка наиболее уязвимых слоев населения: семей с детьми-инвалидами,
                многодетных семей, малоимущих семей с детьми, людей, попавших в трудную жизненную ситуацию.

            <p><strong>Главными задачами фонда являются:</strong></p>

            <li>Социальное обслуживание семей с детьми-инвалидами, малоимущих детей, многодетных семей</li>
            <li>Социальная поддержка и защита граждан</li>
            <li>Создание положительного образа ребенка — инвалида, помощь в интеграции в общество</li>

            <p><strong>Виды деятельности:</strong></p>

            <li>Благотворительная деятельность</li>
            <li>Финансовое посредничество</li>
            <li>Деятельность в области улучшения морально-психологического состояния граждан, содействие духовному
                развитию личности
            </li>
            <li>Оказание юридической помощи на безвозмездной или на льготной основе гражданам, правовое просвещение
                населения, деятельность по защите прав и свобод человека и гражданина
            </li>
            <li>Профилактика социально-опасных форм поведения граждан, включая участие в деятельности по профилактике
                безнадзорности и правонарушений несовершеннолетних
            </li>
            <li>Виды издательской деятельности</li>
            <li>Деятельность по уходу с обеспечением проживания</li>
            <li>Предоставление социальных услуг без обеспечения проживания престарелым и инвалидам</li>
            </body>
        </div>
    </div>

    <div class="my-5">
        <hr>
    </div>

    <div class="row justify-content-center align-items-center">
        <div class="col-md-7">
            <h1>РЕКВИЗИТЫ</h1>
            <p>
                Международный благотворительный фонд помощи детям инвалидам с ограниченными возможностями здоровья «ОКНО
                В МИР»

            <p><strong>Юридический адрес:</strong>143090 Московская область, г. Королёв, мкр. Болшево, ул.Маяковского
                д.18 Г ПОМ IV</p>
            <p><strong>Фактический адрес:</strong>г. Королев, ул. Фрунзе, д.12, пом.9</p>

            <p><strong>Наименование (Beneficiary Name):</strong> МЕЖДУНАРОДНЫЙ БЛАГОТВОРИТЕЛЬНЫЙ ФОНД ПОМОЩИ ДЕТЯМ
                ИНВАЛИДАМ С ОГРАНИЧЕННЫМИ ВОЗМОЖНОСТЯМИ ЗДОРОВЬЯ «ОКНО В МИР»</p>
            <p><strong>Номер счёта (Account Number):</strong> 40703810702760000079</p>

            <p><strong>Валюта (Currency):</strong> Российский рубль</p>
            <p><strong>ИНН (INN):</strong> 5018180547</p>
            <p><strong>КПП (KPP):</strong> 501801001</p>
            <p><strong>Банк (Bank):</strong> АО «АЛЬФА-БАНК»</p>
            <p><strong>Кор. счёт (Correspondent Account):</strong> 30101810200000000593БИК (BIC): 044525593SWIFT:
                ALFARUMM</p>

            <strong>Президент фонда:</strong> Зеленцова Екатерина Валерьевна
        </div>
        <div class="col-md-5">
            <img src="{% static 'img/blago.jpg' %}" alt="" class="w-100 h-100 rounded" style="opacity: 0.7;">
        </div>
    </div>
{% endblock content %}

