{% extends 'mainapp/base.html' %}
<!--  -->
{% load static %}

<!--  -->
{% load pymorphy_tags %}
<!--  -->
<title xmlns="http://www.w3.org/1999/html">
  {% block title %} {{ post.name }} {% endblock %}
</title>
<!--  -->
{% block content %}



<!-- шапка страницы -->
<div class="allYouNeedis__titleBox center">
  <h1 class="allYouNeedis__title">{{ title }}</h1>
  <img
    class="allYouNeedis__title_img"
    src="{% static '/img/allYouNeedis/01.png' %}"
    alt="Окно в Мир"
  />
</div>

<div class="allYouNeedis center">
  {% for post in object %}
  <!-- блок для item -->
  <div class="allYouNeedis__item">
    <!-- фото item -->
    <div class="allYouNeedis__item_imgBox">
      {% if post.photo %}
      <img class="allYouNeedis__item_img" src="/home{{post.photo.url}}" />
      {% endif %}
    </div>
    <!-- блок с информацие о подопечном и о суммах  -->
    <div class="allYouNeedis__item_descriptionBox">
      <p class="allYouNeedis__item_title">{{ post.name }} {{post.surname }}</p>
      <p class="allYouNeedis__item_target">{{ post.short_description }}</p>
      <div class="allYouNeedis__item_payment">
        <p class="allYouNeedis__item_collectedSum">
          {{ post.collected }} &#8381;
        </p>
        <p class="allYouNeedis__item_totalSum">{{ post.donation }} &#8381;</p>
      </div>
      <div class="allYouNeedis__item_donations">
        <!--  линия необходимой суумы-->
        <div class="allYouNeedis__item_donationsProgress">
          <!-- линия собранной суммы -->
        </div>
      </div>
      <!-- кнопка помочь -->
      <div class="allYouNeedis__item_btnHelpBox">
        <button
          class="allYouNeedis__item_btnHelp"
          onclick="location.href='{% url 'mainapp:donation' %}'"
        >
          Помочь {{ post.name|inflect_to_dative }}
        </button>
      </div>
      <!-- ссылка на страницу с более подробной информацией -->
      <p
        onclick="location.href='{{ post.slug }}'"
        class="allYouNeedis__item_history"
      >
        Узнать историю
      </p>
    </div>
  </div>
  {% endfor %}
</div>

<!--  -->
{% include 'mainapp/includes/paginator.html' %}

<!-- {% include 'mainapp/includes/Back.html' %} -->
<!-- скрипт -->
<script src="{% static 'js/allyouneedis.js' %}"></script>

{% endblock %}
