{% extends 'mainapp/base.html' %}

<title>
{% block title %}
{{ title }}
{% endblock %}
</title>

{% block content %}

<h1>СДЕЛАТЬ ПОЖЕРТВОВАНИЕ</h1>

<p>Здесь будет располагаться система приема платежей</p>

<h1>РЕКВИЗИТЫ</h1>
            <p>
                Международный благотворительный фонд помощи детям инвалидам с ограниченными возможностями здоровья «ОКНО
                В МИР»

            <p><strong>Юридический адрес:</strong>143090 Московская область, г. Королёв, мкр. Болшево, ул.Маяковского
                д.18 Г ПОМ IV</p>
            <p><strong>Фактический адрес:</strong>г. Королев, ул. Фрунзе, д.12, пом.9</p>

            <p><strong>Наименование (Beneficiary Name):</strong> МЕЖДУНАРОДНЫЙ БЛАГОТВОРИТЕЛЬНЫЙ ФОНД ПОМОЩИ ДЕТЯМ
                ИНВАЛИДАМ С ОГРАНИЧЕННЫМИ ВОЗМОЖНОСТЯМИ ЗДОРОВЬЯ «ОКНО В МИР»</p>
            <p><strong>Номер счёта (Account Number):</strong> 40703810702760000079</p>

            <p><strong>Валюта (Currency):</strong> Российский рубль</p>
            <p><strong>ИНН (INN):</strong> 5018180547</p>
            <p><strong>КПП (KPP):</strong> 501801001</p>
            <p><strong>Банк (Bank):</strong> АО «АЛЬФА-БАНК»</p>
            <p><strong>Кор. счёт (Correspondent Account):</strong> 30101810200000000593БИК (BIC): 044525593SWIFT:
                ALFARUMM</p>

            <strong>Президент фонда:</strong> Зеленцова Екатерина Валерьевна


{% endblock content %}
