{% extends 'mainapp/base.html' %}

{% load crispy_forms_tags i18n %}
<title>
    {% block title %}
    {{ title }}
    {% endblock %}
</title>
{% block content %}


<!-- <h1>СТАТЬ ВОЛОНТЕРОМ</h1> -->

<div class="volounteerPageWrapper center">
    <div class="volounteerPageWrapperleftSide">
        <h1 class="volounteerPageWrapperleftSide__heading">
            Стать волонтером
        </h1>
        <div class="volounteerPageWrapperleftSide__text">
            Быть волонтером - это замечательный способ внести свой вклад в улучшение жизни других людей и общества в
            целом. Волонтёрство не только помогает нуждающимся, но и приносит огромную пользу самому человеку. Вот
            почему это так здорово:
            <br>
            <ul class="volounteerPageWrapperleftSide__ul">
                <br>
                <li>
                    Источник удовлетворения. Помощь другим приносит счастье и удовлетворение, делая нас чувствовать себя
                    полезными и ценными.
                </li>

                <li>
                    Развитие навыков. Волонтерство позволяет развивать навыки работы в команде, общения с людьми,
                    планирования и организации мероприятий.
                </li>

                <li>
                    Расширение кругозора. Общение с разными людьми и работа над разнообразными проектами помогают
                    понимать
                    мир
                    шире и открывают новые горизонты.
                </li>

                <li>
                    Волонтерство способствует формированию социальной ответственности и эмпатии к нуждающимся.
                </li>

                <li>
                    Возможность внести реальное изменение. Каждый волонтёр может внести свой вклад в решение важных
                    проблем
                    общества и помочь тем, кто в нём нуждается.
                </li>
                <br>
            </ul>
            Быть волонтером - значит быть частью позитивного изменения в мире и делать его ярче и добрее.
        </div>


                <form method="post">
    {% csrf_token %}
{#    {{ form.as_p }}#}
                    {{ form|crispy }}
                <button type="submit" class="volounteerFormWrapper__button" formmethod="post">
                    Хочу стать волонтером
                </button>
                      </form>
            </div>
    </div>

{% endblock %}

{% block js %}
<script>
    $(document).ready(function () {
        {% if messages %}
        $(".toast").toast({ delay: 5000 });
        $(".toast").toast("show");
        {% endif %}
    });
    //document.getElementById('id_phone').setAttribute('placeholder', '+7 ( ___ ) ___-__-__');
</script>
{% endblock %}
