{% extends 'mainapp/base.html' %}

{% load crispy_forms_tags i18n %}
<title>
    {% block title %}
    {{ title }}
    {% endblock %}
</title>
{% block content %}


<!-- <h1>СТАТЬ ВОЛОНТЕРОМ</h1> -->

<div class="volounteerPageWrapper center">
    <div class="volounteerPageWrapperleftSide">
        <h1 class="volounteerPageWrapperleftSide__heading">
            Стать волонтером
        </h1>
        <div class="volounteerPageWrapperleftSide__text">
            Быть волонтером - это замечательный способ внести свой вклад в улучшение жизни других людей и общества в
            целом. Волонтёрство не только помогает нуждающимся, но и приносит огромную пользу самому человеку. Вот
            почему это так здорово:
            <br>
            <ul class="volounteerPageWrapperleftSide__ul">
                <br>
                <li>
                    Источник удовлетворения. Помощь другим приносит счастье и удовлетворение, делая нас чувствовать себя
                    полезными и ценными.
                </li>

                <li>
                    Развитие навыков. Волонтерство позволяет развивать навыки работы в команде, общения с людьми,
                    планирования и организации мероприятий.
                </li>

                <li>
                    Расширение кругозора. Общение с разными людьми и работа над разнообразными проектами помогают
                    понимать
                    мир
                    шире и открывают новые горизонты.
                </li>

                <li>
                    Волонтерство способствует формированию социальной ответственности и эмпатии к нуждающимся.
                </li>

                <li>
                    Возможность внести реальное изменение. Каждый волонтёр может внести свой вклад в решение важных
                    проблем
                    общества и помочь тем, кто в нём нуждается.
                </li>
                <br>
            </ul>
            Быть волонтером - значит быть частью позитивного изменения в мире и делать его ярче и добрее.
        </div>
    </div>
    <div class="volounteerPageWrapperrightSide">
        <div class="volounteerPageWrapperrightSide__heading">
            Анкета
        </div>
        <div class="volounteerPageWrapperrightSide__bar">
            <svg width="758.000000" height="1.000000" viewBox="0 0 758 1" fill="none" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <desc>
                    Created with Pixso.
                </desc>
                <defs />
                <rect id="Rectangle 20" width="758.000000" height="1.000000" fill="#C4C4C4" fill-opacity="1.000000" />
            </svg>
        </div>

        <form method="post" class="givehelp__form">
            <div class="volounteerFormWrapper">
                <!-- <div class="volounteerFormWrapper__leftSide"> -->
                    {% csrf_token %}
                    {# {{ form.as_p }}#}
                    {{ form|crispy }}
                <!-- </div> -->
            </div>
            <div class="volounteerFormWrapper__bottom">
                <button type="submit" class="volounteerFormWrapper__button" formmethod="post">
                    Хочу стать волонтером
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block js %}
<script>
    // document.getElementById('id_phone').setAttribute('placeholder', '+7 ( ___ ) ___-__-__');

    $(document).ready(function () {
        {% if messages %}
        $(".toast").toast({ delay: 5000 });
        $(".toast").toast("show");
        {% endif %}
    });

</script>
{% endblock %}