{% extends 'mainapp/base.html' %}
<!--  -->
{% load static %}
<!--  -->
{% block content %}
<div class="history">
  <p class="history__title">История фонда</p>

  <div class="history__container center">
    <p class="history__text">
      Международный благотворительный фонд помощи детям –инвалидам с
      ограниченными возможностями здоровья «Окно в мир» был основан в 2015 году
      с целью оказания помощи семьям с детьми-инвалидами, многодетным семьям,
      малоимущим семьям г.о.Королев.
    </p>
    <p class="history__text">
      В г.о. Королев проживают более 1500 детей-инвалидов.
    </p>
    <p class="history__text">
      Со временем появились отделения Фонда в Подольске и Красноармейске. Также
      оказывается регулярная помощь регионам: Новгородской и Костромской
      области, детским домам в регионах, а также вещевая помощь различным
      учреждениям для взрослых.
    </p>
    <p class="history__text">
      Большое внимание в деятельности Фонда уделяется совместным проектам
      (культурным или спортивным), в которых участвуют школьники и
      дети-инвалиды, это помогает воспитать в подрастающем поколении адекватное
      восприятие инвалидов как членов современного общества, пробудить в них
      сочувствие и желание помочь тому, кому тяжело одному.
    </p>

    <p class="history__text">
      В последнее время делается акцент на образовательных проектах.
    </p>
  </div>
  <a class="history__button" href="{% url 'mainapp:about' %}">назад</a>
</div>

{% endblock content %}
