{% extends 'mainapp/base.html' %}
<!--  -->
{% load static %}
<!--  -->
{% load pymorphy_tags %}
<!--  -->
{% block content %}
<!-- слайдер -->
<div class="index__slider">
  <div class="index__slider_items">
    <!-- элемент слайдера 1-->
    <div class="index__slider_item">
      <div class="index__slider_imgs">
        <img
          class="index__slider_img01"
          src="{% static '/img/index/01.png' %}"
          alt="Окно в Мир"
        />
        <img
          class="index__slider_img02"
          src="{% static '/img/index/02.png' %}"
          alt="Окно в Мир"
        />
      </div>
      <div class="index__slider_textBox">
        <h1 class="index__slider_title">
          МЕЖДУНАРОДНЫЙ БЛАГОТВОРИТЕЛЬНЫЙ ФОНД "ОКНО В МИР"
        </h1>
        <p class="index__slider_text">
          Среди нас живут семьи, которым требуется помощь: семьи с
          детьми-инвалидами; многодетные семьи; семьи, попавшие в трудную
          жизненную ситуацию.
        </p>
      </div>
    </div>

    <!-- элемент слайдера 2-->
    <div class="index__slider_item index__slider_item-opasity">
      <div class="index__slider_imgs">
        <img
          class="index__slider_img03"
          src="{% static '/img/index/03.png' %}"
          alt="Окно в Мир"
        />
        <img
          class="index__slider_img04"
          src="{% static '/img/index/04.png' %}"
          alt="Окно в Мир"
        />
      </div>
      <div class="index__slider_textBox">
        <h1 class="index__slider_title">
          Детям в сложных жизненных ситуациях постоянно нужна ваша поддержка
        </h1>
        <p class="index__slider_text">Не откладывайте. Помогите прямо сейчас</p>
      </div>
    </div>

    <!-- элемент слайдера 3-->
    <div class="index__slider_item index__slider_item-opasity">
      <div class="index__slider_imgs">
        <img
          class="index__slider_img05"
          src="{% static '/img/index/05.png' %}"
          alt="Окно в Мир"
        />
        <img
          class="index__slider_img06"
          src="{% static '/img/index/06.png' %}"
          alt="Окно в Мир"
        />
      </div>
      <div class="index__slider_textBox">
        <h1 class="index__slider_title">Мы будем благодарны любой помощи</h1>
        <p class="index__slider_text">Станьте волонтёром</p>
      </div>
    </div>
  </div>

  <!-- точки -->
  <div class="index__slider_arrows">
    <div class="index__slider_arrowLeft">&#10148;</div>
    <div class="index__slider_arrowRight">&#10148;</div>
  </div>
</div>

<!-- о нас -->
<div class="index__about center">
  <div class="index__about_imgBox">
    <img
      class="index__about_img"
      src="{% static '/img/index/logo-fond-main.png' %}"
      alt="Окно в Мир"
    />
  </div>
  <div class="index__about_textBox">
    <h1 class="index__about_textTitle">
      Международный благотворительный фонд помощи детям –инвалидам с
      ограниченными возможностями здоровья «Окно в мир»
    </h1>
    <p class="index__about_text">
      Фонд был основан в 2015 году с целью оказания помощи семьям с
      детьми-инвалидами, многодетным семьям, малоимущим семьям.
    </p>
    <p class="index__about_text">
      У Фонда есть отделения в Кородеве, Подольске и Красноармейске.
    </p>
    <p class="index__about_text">
      Мы оказываем регулярную помощь Новгородской и Костромской областям,
      детским домам в регионах, а также вещевую помощь различным учреждениям для
      взрослых.
    </p>
  </div>
</div>

<!-- контент -->
<div class="index__content">
  <!-- 3 последних события каждой категории поставил условие if т.е все 3 категории должны быть если что можно убрать -->
  <!--  -->
  <!-- блок подопечные -->
  {% if list_allyouneedis %}
  <div class="index__box center">
    <h1 class="index__title">Помочь детям</h1>
    <div class="index__itemBox">
      {% for item_allyouneedis in list_allyouneedis %}
      <div class="index__item">
        <div class="index__imgBox">
          <img
            class="index__img"
            src="{{ item_allyouneedis.photo.url }}"
            alt="foto"
          />
        </div>
        <!-- блок с информацие о подопечном и о суммах  -->
        <div class="index__allYouNeedis_descriptionBox">
          <p class="index__subTitle">
            {{ item_allyouneedis.name }} {{item_allyouneedis.surname }}
          </p>
          <p class="index__allYouNeedis_target">
            {{ item_allyouneedis.short_description }}
          </p>
          <div class="index__allYouNeedis_payment">
            <p class="index__allYouNeedis_collectedSum">
              {{ item_allyouneedis.collected }} &#8381;
            </p>
            <p class="index__allYouNeedis_totalSum">
              {{ item_allyouneedis.donation }} &#8381;
            </p>
          </div>
          <div class="index__allYouNeedis_donations">
            <!--  линия необходимой суумы-->
            <div class="index__allYouNeedis_donationsProgress">
              <!-- линия собранной суммы -->
            </div>
          </div>
          <!-- кнопка помочь -->
          <div class="index__allYouNeedis_btnHelpBox">
            <button
              class="index__allYouNeedis_btnHelp"
              onclick="location.href='{% url 'mainapp:donation' %}'"
            >
              Помочь {{ item_allyouneedis.name|inflect_to_dative }}
            </button>
          </div>
          <!-- ссылка на страницу с более подробной информацией -->
          <div class="index__article_box">
            <div
              onclick="location.href='allyouneedis/{{ item_allyouneedis.slug }}'"
              class="index__article"
            >
              Узнать историю
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="index__btnCategoryBox">
      <button
        onclick="location.href ='{% url 'mainapp:allyouneedis' %}'"
        class="index__btnCategory"
      >
        Узнать больше историй
      </button>
    </div>
  </div>
  {% endif %}

  <!-- блок новостей -->
  {% if list_news %}
  <div class="index__box index__news_box center">
    <h1 class="index__title">Последние события</h1>
    <!-- обертка для item -->
    <div class="index__itemBox">
      {% for item_news in list_news %}
      <div class="index__item">
        <div class="index__imgBox">
          <img class="index__img" src="{{ item_news.photo.url }}" alt="foto" />
        </div>

        <div class="index__subTitle">{{ item_news.name }}</div>
        <!-- перейти к новости -->
        <div
          onclick="location.href='{{ item_news.slug }}'"
          class="index__article"
        >
          Читать новость
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- переход в раздел новости -->
    <div class="index__btnCategoryBox">
      <button
        onclick="location.href ='{% url 'mainapp:news' %}'"
        class="index__btnCategory"
      >
        Читать больше новостей
      </button>
    </div>
  </div>
  {% endif %}
  <!-- проекты -->
  {% if list_projects %}
  <div class="index__box center">
    <h1 class="index__title">Наши задачи в проектах</h1>
    <!-- обертка для item -->
    <div class="index__itemBox">
      {% for item_projects in list_projects %}
      <div class="index__item">
        <div class="index__imgBox">
          <img
            class="index__img"
            src="{{ item_projects.photo.url }}"
            alt="foto"
          />
        </div>
        <div class="index__subTitle">{{ item_projects.name }}</div>
        <!-- перейти к задаче -->
        <div
          onclick="location.href='{{ item_projects.slug }}'"
          class="index__article"
        >
          Узнать больше
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- переход в раздел проекты -->
    <div class="index__btnCategoryBox">
      <button
        onclick="location.href ='{% url 'mainapp:projects_category' %}'"
        class="index__btnCategory index__btnCategory_project"
      >
        Читать больше о проектах
      </button>
    </div>
  </div>
  {% endif %}

  <!-- скрипт -->
  <script src="{% static 'js/index.js' %}"></script>
  <!--  -->
</div>

{% endblock content %}
