{% extends 'mainapp/base.html' %}
<!--  -->
{% load static %}
<!--  -->

<title xmlns="http://www.w3.org/1999/html">
  {% block title %} {{ post.name }} {% endblock %}
</title>

{% block content %}
<!-- шапка страницы -->
<div class="newsPost__titleBox center">
  <a class="newsPost__titleMain" href="{% url 'mainapp:news' %}">{{ title }}</a>
  <img
    class="newsPost__title_img"
    src="{% static '/img/news/news2.png' %}"
    alt="Окно в Мир"
  />
</div>

<!--шапка статьи  -->
<div class="newsPost center">
  <div class="newsPost__top">
    {% if post.photo %}
    <div class="newsPost__top_imgBox">
      <img class="newsPost__top_img" src="/home{{post.photo.url}}" />
    </div>
    {% endif %}
    <p class="newsPost__title">{{ post.name }}</p>
  </div>

  <!-- текст статьи -->
  <div class="newsPost__text">{{ post.description|linebreaks}}</div>
  <p class="newsPost__data">{{ post.created_at|date:"d M Y" }}</p>

  <!-- слайлер -->

  <div class="newsPost__slider">
    <!-- фото -->
    <div class="newsPost__slider_imgBox">
      <div class="newsPost__slider_imgline">
        {% for item in image %}
        <img
          class="newsPost__slider_img newsPost__slider_imgHidden"
          src="{{ item.image.image.url }}"
        />
        {% endfor %}
      </div>
    </div>
    <!-- стрелки и номера -->
    <div class="newsPost__slider_nav">
      <p class="newsPost__slider_navLeft"></p>
      <p class="newsPost__slider_navNumber"></p>
      <p class="newsPost__slider_navRight"></p>
    </div>
  </div>

  <!--  -->
</div>

<!--  -->
{% include 'mainapp/includes/Back.html' %}

<!-- !!!!!!!!!!!!!!!!!!!! Обязательно делать пустую строку в админке чтобы заключить строку в тег <p> -->

<!-- linebreaks¶
    Заменяет разрывы строк в обычном тексте на соответствующий HTML; одна <br>новая строка становится разрывом строки HTML ( ), а новая строка, за которой следует пустая строка, становится разрывом абзаца ( </p>). -->

<script src="{% static 'js/news_post.js' %}"></script>

{% endblock %}
