{% extends 'mainapp/base.html' %}
<!--  -->
{% load static %}
<!--  -->

<title>{% block title %} {{ post.name }} {% endblock %}</title>

{% block content %}

<!-- шапка страницы -->
<div class="news__titleBox center">
  <h1 class="news__title">{{ title }}</h1>
  <img
          class="news__title_img"
          src="{% static '/img/news/news2.png' %}"
          alt="Окно в Мир"
  />
</div>

<!-- контент-->
<div class="news">
  <div class="news__itemBox center">
    {% for news_item in object %}
    <div class="news__item">
      <!-- фото новости -->
      {% if news_item.photo %}
      <div class="news__item__imgBox">
        <img
                class="news__item__img"
                src="{{news_item.photo.url}}"
                width="300"
                height="250"
        />
      </div>
      {% endif %}
      <!-- текстовая часть  -->
      <div class="news__item__content">
        <p class="news__item__content_title">{{ news_item.name }}</p>
        <div class="news__item__content_description">
          {{ news_item.description|linebreaks|truncatewords:15 }}
        </div>
        <p class="news__item__content_data">{{ news_item.created_at|date:"d M Y" }}</p>
        <button
                class="news__item__content_btn"
                onclick="location.href='{{ news_item.slug }}'"
        >
          Читать
        </button>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<!--  -->
{% include 'mainapp/includes/paginator.html' %}
<!--  -->
{% endblock %}
