{% extends 'mainapp/base.html' %}

<title xmlns="http://www.w3.org/1999/html">
    {% block title %}
        {{ post.name }}
    {% endblock %}
</title>

{% block content %}

    <div class="row justify-content-center align-items-center">
        <div class="col-md-7">
            {% for item in image %}
            <p><img class="img-header-photo" src="/home{{ item.image.url }}" width="300" height="250"></p>
            {% endfor %}
            <p> {{ post.description|linebreaks }}</p>
            <p>{{ post.created_at }}</p>
            </div>
    </div>
    {% include 'mainapp/includes/Back.html' %}
{% endblock %}