{% extends 'mainapp/base.html' %}

{% block content %}

<h1>ОФЕРТА ДОБРОВОЛЬНОГО ПОЖЕРТВОВАНИЯ</h1>

<p><strong>Публичная оферта о заключении договора пожертвования:</p></strong>

<p>«Международный благотворительный фонд помощи детям инвалидам с ограниченными возможностями здоровья «ОКНО В МИР», в лице Зеленцовой Екатерины Валерьевны,
предлагает гражданам сделать пожертвование на ниже приведенных условиях:</p>

<p><strong>1. Общие положения</p></strong>
<p>1.1. В соответствии с п. 2 ст. 437 Гражданского кодекса Российской Федерации данное предложение является публичной офертой (далее – Оферта).</p>
<p>1.2. В настоящей Оферте употребляются термины, имеющие следующее значение:</p>
<li>«Пожертвование» — «дарение вещи или права в общеполезных целях»;</li>
<li>«Жертвователь» — «граждане, делающие пожертвования»;</li>
<li>«Получатель пожертвования» — «Международный благотворительный фонд помощи детям инвалидам с ограниченными возможностями здоровья «ОКНО В МИР».</li>

<p>1.3. Оферта действует бессрочно с момента размещения ее на сайте Получателя пожертвования.</p>
<p>1.4. Получатель пожертвования вправе отменить Оферту в любое время путем удаления ее со страницы своего сайта в Интернете.</p>
<p>1.5. Недействительность одного или нескольких условий Оферты не влечет недействительность всех остальных условий Оферты.</p>

<p><strong>2. Существенные условия договора пожертвования:</p></strong>
<p>2.1. Пожертвование используется на содержание и ведение уставной деятельности Получателя пожертвования.</p>
<p>2.2. Сумма пожертвования определяется Жертвователем.</p>

<p><strong>3. Порядок заключения договора пожертвования:</p></strong>
<p>3.1. В соответствии с п. 3 ст. 434 Гражданского кодекса Российской Федерации договор пожертвования заключается в письменной форме путем акцепта Оферты Жертвователем.</p>
<p>3.2. Оферта может быть акцептована путем перечисления Жертвователем денежных средств в пользу Получателя пожертвования платежным поручением по реквизитам, указанным в разделе 5 Оферты, с указанием в строке «назначение платежа»: «пожертвование на содержание и ведение уставной деятельности», а также с использованием пластиковых карт, электронных платежных систем и других средств и систем, позволяющих Жертвователю перечислять Получателю пожертвования денежных средств.</p>
<p>3.3. Совершение Жертвователем любого из действий, предусмотренных п. 3.2. Оферты, считается акцептом Оферты в соответствии с п. 3 ст. 438 Гражданского кодекса Российской Федерации.</p>
<p>3.4. Датой акцепта Оферты – датой заключения договора пожертвования является дата поступления пожертвования в виде денежных средств от Жертвователя на расчетный счет Получателя пожертвования.</p>

<p><strong>4. Заключительные положения:</p></strong>
<p>4.1. Совершая действия, предусмотренные настоящей Офертой, Жертвователь подтверждает, что ознакомлен с условиями Оферты, целями деятельности Получателя пожертвования, осознает значение своих действий и имеет полное право на их совершение, полностью и безоговорочно принимает условия настоящей Оферты.</p>
<p>4.2. Настоящая Оферта регулируется и толкуется в соответствии с действующим российском законодательством.</p>

<p><strong>5. Подпись и реквизиты Получателя пожертвования</p></strong>
<p>Международный благотворительный фонд помощи детям инвалидам с ограниченными возможностями здоровья «ОКНО В МИР»</p>

<p>ИНН 5018180547</p>
<p>КПП 501801001</p>
<p>ОГРН 1155000003674</p>

<p>Юридический адрес: 143090 Московская область, г.Королёв, мкр. Болшево, ул.Маяковского д.18 Г ПОМ IV</p>
<p>Фактический адрес: г. Королев, ул.Фрунзе, д.12, пом.9</p>
<p>р/счет 40703810002890003717</p>
<p>Наименование Банка: ПАО МОСОБЛБАНК</p>
<p>БИК: 044525521</p>
<p>к/счет: 30101810900000000521</p>
<p>Адрес: 107023, г.Москва, ул.Б.Семеновская, д.32, строен.1</p>

<p>Номер волонтерской карты: 5336690063638987</p>



{% endblock content %}
