{% extends 'mainapp/base.html' %}

<title>{% block title %} {{ title }} {% endblock %}</title>

{% block content %}
<p class="partners__title">Наши партнеры</p>

<div class="partners__conteiner center">
  {% for partner in object %}
  <div class="partners__imgBox">
    {% if partner.picture %}
    <img class="partners__img" src="/home{{partner.picture.url}}" />
    {% endif %}
  </div>
  {% endfor %}
</div>

<!-- <div class="partners__conteiner center">
    {% for partner in object %}
    <div class="partners__item">
      <div class="partners__itemTitle">{{ partner.title }}</div>
      <div class="partners__imgBox">
        {% if partner.picture %}
  
        <img class="partners__img" src="/home{{partner.picture.url}}" />
        {% endif %}
      </div>
      <div class="partners__description">{{ partner.about }}</div>
    </div>
    {% endfor %}
  </div> -->

<!-- <h1 style="padding-top: 200px">НАШИ ПАРТНЕРЫ</h1> -->

<!-- {% for partner in object %}
    <div class="row justify-content-center align-items-center">
        <div class="col-md-7">
            <h5>{{ partner.title }}</h5>
            {% if partner.picture %}
            <p><img class="img-header-photo" src="/home{{partner.picture.url}}" width="300" height="250"></p>
            {% endif %}
            <p>{{ partner.about }}</p>
        </div>
    </div>
    {% endfor %} -->

{% endblock %}
