{% extends 'mainapp/base.html' %}
<!--  -->
{% load static %}
<!--  -->

<title>{% block title %} {{ title }} {% endblock %}</title>

{% block content %}
<!-- шапка страницы -->
<div class="partners__titleBox center">
  <h1 class="partners__title">{{ title }}</h1>
  <img
    class="partners__title_img"
    src="{% static '/img/partners/partners2.png' %}"
    alt="Окно в Мир"
  />
</div>

<div class="partners__conteiner center">
  {% for partner in object %}
  <div class="partners__imgBox">
    {% if partner.picture %}
    <img class="partners__img" src="{{partner.picture.url}}" />
    {% endif %}
  </div>
  {% endfor %}
</div>

{% endblock %}
