{% extends 'mainapp/base.html' %}

<title>
{% block title %}
{{ title }}
{% endblock %}
</title>

{% block content %}

<h1>ПОЛИТИКА ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ</h1>

<p><strong>Согласие на обработку персональных данных</p></strong>

<p>Пользователь, оставляя заявку, оформляя подписку, комментарий, запрос на обратную связь,
    регистрируясь либо совершая иные действия, связанные с внесением своих персональных данных на интернет-сайте,
    принимает настоящее Согласие на обработку персональных данных (далее – Согласие), размещенное по адресу.</p>

<p>Принятием Согласия является подтверждение факта согласия Пользователя со всеми пунктами Согласия.
    Пользователь дает свое согласие организации «Международный благотворительный фонд помощи детям инвалидам
    с ограниченными возможностями здоровья «ОКНО В МИР», которой принадлежит сайт fond-oknovmir.ru на обработку
    своих персональных данных со следующими условиями:</p>

<p>Пользователь дает согласие на обработку своих персональных данных, как без использования средств автоматизации, так и с их использованием.
Согласие дается на обработку следующих персональных данных (не являющимися специальными или биометрическими):
<li>фамилия, имя, отчество;</li>
<li>адрес(а) электронной почты;</li>
<li>иные данные, предоставляемые Пользователем.</li></p>

<p>Персональные данные пользователя не являются общедоступными.</p>

<p>1. Целью обработки персональных данных является предоставление полного доступа к функционалу сайта fond-oknovmir.ru</p>
<p>2. Основанием для сбора, обработки и хранения персональных данных являются:
<li>Ст. 23, 24 Конституции Российской Федерации;</li>
<li>Ст. 2, 5, 6, 7, 9, 18–22 Федерального закона от 27.07.06 года №152-ФЗ «О персональных данных»;</li>
<li>Ст. 18 Федерального закона от 13.03.06 года № 38-ФЗ «О рекламе»;</li>
<li>Устав организации «Международный благотворительный фонд помощи детям инвалидам с ограниченными возможностями здоровья «ОКНО В МИР»;</li>
<li>Политика обработки персональных данных.</li>

<p>3. В ходе обработки с персональными данными будут совершены следующие действия
    с персональными данными: сбор, запись, систематизация, накопление, хранение, уточнение (обновление, изменение),
    извлечение, использование, передача (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение.</p>

<p>4. Передача персональных данных, скрытых для общего просмотра, третьим лицам не осуществляется, за исключением случаев, предусмотренных законодательством Российской Федерации.</p>

<p>5. Пользователь подтверждает, что указанные им персональные данные принадлежат лично ему.</p>

<p>6. Персональные данные хранятся и обрабатываются до момента ликвидации организации
    «Международный благотворительный фонд помощи детям инвалидам с ограниченными возможностями здоровья «ОКНО В МИР».
    Хранение персональных данных осуществляется согласно Федеральному закону №125-ФЗ «Об архивном деле в Российской Федерации»
    и иным нормативно правовым актам в области архивного дела и архивного хранения.</p>

<p>7. Пользователь согласен на получение информационных сообщений с сайта.
    Персональные данные обрабатываются до отписки Пользователя от получения информационных сообщений.</p>

<p>8. Согласие может быть отозвано Пользователем либо его законным представителем, путем направления Отзыва
    согласия на электронную почту – с пометкой «Отзыв согласия на обработку персональных данных».
    В случае отзыва Пользователем согласия на обработку персональных данных организация
    «Международный благотворительный фонд помощи детям инвалидам с ограниченными возможностями здоровья «ОКНО В МИР»
    вправе продолжить обработку персональных данных без согласия Пользователя при наличии оснований,
    указанных в пунктах 2 — 11 части 1 статьи 6, части 2 статьи 10 и части 2 статьи 11 Федерального закона
    №152-ФЗ «О персональных данных» от 27.07.2006 г. Удаление персональных данных влечет невозможность доступа
    к полной версии функционала сайта.</p>

<p>9. Настоящее Согласие является бессрочным, и действует все время до момента прекращения обработки персональных данных, указанных в п.7 и п.8 данного Согласия.</p>

<p>10. Место нахождения организации «Международный благотворительный фонд помощи детям инвалидам с ограниченными возможностями здоровья «ОКНО В МИР» в соответствии с учредительными документами:</p>

<p><strong>143090, Московская область, г. Королёв, мкр. Болшево, ул.Маяковского д.18 Г ПОМ IV</p></strong>


{% endblock content %}
