{% extends 'mainapp/base.html' %}
<!--  -->
{% load static %}

<title xmlns="http://www.w3.org/1999/html">
  {% block title %} {{ post.name }} {% endblock %}
</title>

{% block content %}
<!-- шапка страницы -->
<div class="projectsPost__titleBox center">
  <h1 class="projectsPost__titleMain" onclick="history.back();">
    {{ post.category }}
  </h1>
  <img
    class="projectsPost__title_img"
    src="{% static '/img/projects/project3.png' %}"
    alt="Окно в Мир"
  />
</div>
<!-- <p class="projects__subTitle">{{post.category}}</p> -->

<h1 class="projectsPost_title">{{ post.name }}</h1>

<div class="projectsPost_article center">
  <p>{{ post.description|linebreaks }}</p>
</div>

<div class="projectsPost_paymentInfo center">
  <div class="projectsPost_paymentInfo_column">
    <div class="projectsPost_paymentInfo_textBox">
      <p class="projectsPost_paymentInfo_text">Необходимая сумма</p>
      <p class="projectsPost_paymentInfo_sumNeed">{{ post.donation }} руб</p>
    </div>
    <p class="projectsPost_paymentInfo_text">
      Собрано
      <span class="projectsPost_paymentInfo_sumDone"
        >{{ post.collected }} руб</span
      >
    </p>
  </div>
  <div class="projectsPost_paymentInfo_column">
    <div class="projectsPost_paymentInfo_btnBox">
      <button
        class="projectsPost_paymentInfo_btn"
        onclick="location.href='{% url 'mainapp:donation' %}'"
      >
        Помочь
      </button>
    </div>
    <p class="projectsPost_paymentInfo_target">
      Назначение платежа: {{ post.purpose }}
    </p>
  </div>
</div>

<!-- слайлер -->
<div class="projectsPost__slider center">
  <!-- фото -->
  <div class="projectsPost__slider_imgBox">
    <div class="projectsPost__slider_imgline">
      {% for item in image %}

      <img
        class="projectsPost__slider_img projectsPost__slider_imgHidden"
        src="/home{{ item.image.url }}"
      />

      {% endfor %}
    </div>
  </div>
  <!-- стрелки и номера -->
  <div class="projectsPost__slider_nav">
    <p class="projectsPost__slider_navLeft"></p>
    <p class="projectsPost__slider_navNumber"></p>
    <p class="projectsPost__slider_navRight"></p>
  </div>
</div>

<!--  -->
{% include 'mainapp/includes/Back.html' %}
<!--  -->

<script src="{% static 'js/projects_post.js' %}"></script>

{% endblock %}
