{% extends 'mainapp/base.html' %}
<!--  -->
{% load static %}
<!--  -->
<title>{% block title %} {{ title }} {% endblock %}</title>


{% block content %}

<div class="projectCategory__titleBox center">
  <h1 class="projectCategory__title">{{ title }}</h1>
  <img
    class="projectCategory__title_img"
    src="{% static '/img/projects/project3.png' %}"
    alt="Окно в Мир"
  />
</div>

<div class="projectCategory">
  {% for project_item in post %}
  <div class="projectCategory__item">
    <div class="projectCategory__item_imgBox">
      {% if project_item.photo %}
      <img
        class="projectCategory__item_img"
        src="/home{{project_item.photo.url}}"
      />
    </div>

    {% endif %}
    <div class="projectCategory__item_textBox">
      <div class="projectCategory__item_title">{{ project_item.name }}</div>
      <!-- <button
            type="button"
            onclick="location.href='{% url 'mainapp:projects' project_item.pk %}'"
          >
            Смотреть
          </button> -->
      <div
        class="projectCategory__item_btn"
        onclick="location.href='{% url 'mainapp:projects' project_item.pk %}'"
      >
        <!-- <img
              class="projectCategory__item_arrow"
              src="{% static '/img/projects/arrow.png' %}"
              alt="Окно в Мир"
            /> -->
        &#10148;
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<!--  -->
<!--  -->
{% endblock %}
