{% extends 'mainapp/base.html' %}
<!--  -->
{% load static %}
<title>{% block title %} {{ title }} {% endblock %}</title>

{% block content %}
<!-- шапка страницы -->
<div class="projects__titleBox center">
  <a class="projects__titleMain" href="{% url 'mainapp:projects_category' %}"
    >{{ title }}</a
  >
  <img
    class="projects__title_img"
    src="{% static '/img/projects/project3.png' %}"
    alt="Окно в Мир"
  />
</div>

<p class="projects__subTitle">{{category.name}}</p>

<p class="projects__description">{{category.description}}</p>

<div class="projects">
  {% for project_item in post %}
  <div class="projects__item">
    <div class="projects__item_imgBox">
      {% if project_item.photo %}
      <img
        class="projects__item_img"
        src="{{project_item.photo.url}}"
        width="300"
        height="250"
      />
    </div>

    {% endif %}
    <div class="projects__item_textBox">
      <div class="projects__item_title">{{ project_item.name }}</div>
      <div
        class="projects__item_btn"
        onclick="location.href='{% url 'mainapp:projects_post' project_item.slug %}'"
      >
        &#10148;
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<!--  -->
{% include 'mainapp/includes/paginator.html' %}
<!--  -->
{% include 'mainapp/includes/Back.html' %}

<!--  -->
{% endblock %}
