{% extends 'mainapp/base.html' %}
<!--  -->
{% load static %}
<!--  -->
<title>{% block title %} {{ title }} {% endblock %}</title>

{% block content %}

<!-- шапка страницы -->
<div class="projectCategory__titleBox center">
  <h1 class="projectCategory__title">{{ title }}</h1>
  <img
    class="projectCategory__title_img"
    src="{% static '/img/projects/project3.png' %}"
    alt="Окно в Мир"
  />
</div>

<!-- основной контейнер -->
<div class="projectCategory">
  {% for project_item in post %}
  <!-- item категории проекта -->
  <div class="projectCategory__item">
    <!-- фото категории проекта -->
    <div class="projectCategory__item_imgBox">
      {% if project_item.photo %}
      <img
        class="projectCategory__item_img"
        src="{{project_item.photo.url}}"
      />
    </div>
    {% endif %}
    <!-- название категории проекта -->
    <div class="projectCategory__item_textBox">
      <div class="projectCategory__item_title">{{ project_item.name }}</div>
      <!-- стрелка для перехода в категорию -->
      <div
        class="projectCategory__item_btn"
        onclick="location.href='{% url 'mainapp:projects' project_item.pk %}'"
      >
        &#10148;
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<!--  -->
{% endblock %}
