{% extends 'mainapp/base.html' %}

{% load static %}

<title>
{% block title %}
{{ title }}
{% endblock %}
</title>

{% block content %}

{% regroup object by year as counter_list  %}
{% for year, file_list in counter_list reversed %}
<details>

        <summary>{{ year }}</summary>
            <ul>
                {% for file in file_list %}
                <li>
                    <a href="{{ file.upload.url }}" download="{{ file.name }}" >{{ file.name }}</a>
                </li>

            {% endfor %}
            </ul>


</details>


{% endfor %}
{% endblock %}