{% extends 'mainapp/base.html' %} 
<!--  -->
{% load static %} 
<!--  -->
{% block content %}
<div class="success center">
  <div class="success__textBox">
    <h1 class="success__title">Ваше обращение было успешно отправлено!</h1>
    <p class="success__text">Администратор с Вами обязательно свяжется!</p>
  </div>
  <div class="success__imgBox">
    <img
    class="success__img"
      src="{% static '/img/success/success.png' %}"
      alt="Окно в Мир"
    />
  </div>
</div>
{% endblock content %}
