{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Список видео</title>
</head>
<body>
<h1>Список видео</h1>
<ul>
    {% if videos %}
    {% for video in videos %}
    <li>
        <p>{{ video.title }}</p>
        <iframe width="720" height="405" src="{{ video.get_video_url }}" frameborder="0" allowfullscreen></iframe>
    </li>
    {% endfor %}
    {% else %}
    <li>Нет доступных видео</li>
    {% endif %}
</ul>
</body>

{% endblock %}



